.footer {
    background-color: rgb(3, 3, 32);
    color:white;
    font-size: 1.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 8rem;
    margin-top: 10px;
  position: relative;
  bottom: 0;
    p {
      color: #fff;
    }
  }