.container{
    padding: 10px;
    margin: 10px;
    border: 2px solid wheat;
}
.section{
    display: flex;
   margin: 10px;
   
}
.left{
    padding: 10px;
}
.right{
    padding: 10px;
}